{{ if eq .chezmoi.os "linux" -}}
#! /bin/sh

sh $HOME/.local/share/chezmoi/install.linux.sh

{{ else if eq .chezmoi.os "darwin" -}}
#! /bin/sh

sh $HOME/.local/share/chezmoi/install.mac.sh

{{ end -}}

sh $HOME/.local/share/chezmoi/install.global.sh
